/* BASE COLOR FOR MENU: #0275A8 */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);
@font-face {
	font-family: 'octicons';
	src: url('octicons.woff') format('woff');
}
body {
	font-family: "Open Sans";
	font-size: 400;
	font-size: 16px;
	color rgb(250, 250, 250);
}

#header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 42px;
	color: #fff;
	background: #0275a8;
	box-shadow: 3px 3px 5px 3px #011721;
}

#linklogo {
	position: absolute;
	top: 7px;
	left: 9px;
}

#mbtn {
	position: absolute;
	top: 9px;
	left: 12px;
	cursor: pointer;
}
#weg {
	font-family: "octicons";
	font-size: 20px;
	position: absolute;
	top: 9px;
	right: 10px;
	color: #fff;
	border: none;
	padding: 0;
	margin: 0;
	background: transparent;
}
@keyframes an {
	from { transform: rotate(180deg); }
	to { transform: rotate(0deg); }
}
@keyframes aus {
	from { transform: rotate(0deg); }
	to { transform: rotate(180deg); }
}
.up {
	animation: aus 500ms;
	transform: rotate(180deg);
}
.down {
	animation: an 500ms;
	transform: rotate(0deg);
}
#weg:before { content: "\f0a3"; }
#hoerer {
	font-family: "octicons";
	font-size: 20px;
	position: absolute;
	top: 9px;
	right: 37px;
	color: #fff;
	border: none;
	padding: 0;
	margin: 0;
	background: transparent;
}
	#hoerer:before { content: "\f037"; }
	#hoerer #listeners { font-size: 16px; font-family: "Open Sans"; font-weight: normal; }

#sendung {
	font-family: "octicons";
	font-size: 20px;
	position: absolute;
	top: 9px;
	right: 115px;
	color: #fff;
	border: none;
	padding: 0;
	margin: 0;
	background: transparent;
}
	#sendung:before { content: "\f030"; }

#search {
	font-family: "octicons";
	font-size: 19px;
	position: absolute;
	top: 10px;
	right: 87px;
	color: #fff;
	border: none;
	padding: 0;
	margin: 0;
	background: transparent;
}
	#search:before { content: "\f02e"; }

#title {
	position: absolute;
	top: 8px;
	left: 42px;
	color: rgb(250, 250, 250);
	font-size: 18px;
}

#main {
	margin-top: 51px;
}
#buttons {
	float: right;
	margin-right: 5px;
}
	#buttons button {
		height: 21px;
		width: 94px;
		padding 0px;
		margin: 15px -5px 15px 0;
		font-size: 12px;
		font-family: "Open Sans";
		font-weight: normal;
		line-height: 14px;
		border: none;
		border-top-left-radius: 19px;
		border-bottom-left-radius: 19px;
		color: rgb(250, 250, 250);
	}
		#google { background: rgb(66, 133, 244); }
		#jamendo { background: rgb(105, 62, 105); }
		#bandcamp { background: rgb(97, 154, 169); }

	#buttons button:before {
		content: "\f02e  ";
		font-family: "octicons";
	}

#volume {
	position: absolute;
	top: 129px;
	right: 110px;
	border: none;
	border-radius: 300px;
	height: 60px;
	width: 60px;
	color: rgb(250, 250, 250);
	background: rgb(135,173,58);
}

	#volume:before { content: "\f0ba"; font-family: "octicons"; font-size: 26px;}
	#volume.mute:before { content: "\f080"; font-family: "octicons"; font-size: 26px;}

#knopf {
	margin-left: 7px;
	margin-top: 25px;
}

#about, #wishlist, #settings {
	color: #fafafa;
	padding: 0 25px;
	margin-top: 56px;
	height: 153px;
	font-size: 15px;
	overflow-y: scroll;
}
#about {
	overflow-y: hidden;
}
#settings ul li {
	list-style: none;
	cursor: pointer;
}
#settings ul li:after {
	content: "\f03a";
	font-family: "octicons";
	float: right;
	cursor: pointer;
}
#settings ul li:hover:after { color: #02638F; }
.setactive:after { color: #0287C1; }

#explore {
	position: absolute;
	top: 100px;
	left: 90px;
	color: #fafafa;
}
#explore span { font-size: 27px; }
#explore:before {
	content: "\f088  ";
	font-family: "octicons";
	font-size: 28px;
}
#wishlist ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#wishlist ul li {
	background: rgba(8, 101, 183, 0.3);
	padding: 3px 6px;
	margin: 7px 0;
	border-radius: 5px;
	cursor: default;
}
#wishlist ul li:hover {
	background: rgba(8, 101, 183, 0.7);
}
#wishlist ul li .closebtn:after {
	content: "\f081";
	font-family: "octicons";
	font-size: 18px;
	float: right;
}
#wishlist ul li .searchbtn:after {
	content: "\f02e";
	font-family: "octicons";
	font-size: 18px;
	float: right;
	padding-right: 0.6em;
}

#shortcuts code {
	background: #fff;
	padding: 0px 6px;
	color: rgba(0, 0 , 0, 0.9);
}

#shortcuts {
	margin: 4em 2.5em 0 2.5em;
	color: #fafafa;
	font-size: 14px;
	line-height: 1.6;
}
#status {
	background: #eee;
	position: absolute;
	left: 25px;
	right: 25px;
	bottom: 0;
	padding: 3px;
	color: #2d2d2d;
	height: 184px;
	/*box-shadow: 0px 2px 4px 4px #0072be;*/
	/*box-shadow: 0px 0px 15px 0px #0072be;*/
	/*border-top-left-radius: 3px;
	border-top-right-radius: 3px;*/
	font-size: 15px;
}
	#info {
		font-size: 24px;
		position: absolute;
		top: 16px;
		left: 174px;
		right: 16px;
	}
	#curArtist {
		font-size: 16px;
		margin-left: 6px;
	}
	#bar {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 32px;
		background: rgb(42, 42, 42);
		color: #dadada;
	}
	#cover {
		position: absolute;
		top: 0;
		left: 0;
		background: #b90000;
		/*border-top-left-radius: 3px;*/
	}

/* BAR-BUTTONS */
.btn {
	font-family: "octicons";
	border: none;
	padding: 0;
	font-size: 20px;
	font-style: normal;
	margin: 0;
	color: #797C80;
	background: transparent;
	width: 20%;
	height: 100%;
	border-left: 1px solid #333;
}
.btn:hover { background: rgb(48, 48, 48); }
.btn span {
	font-family: "Open Sans";
	font-size: 14px;
}
#add {
	/* grey: #797C80, blue: #177EE5, red: #a0000d; */
	/*position: absolute;
	top: 16px;
	right: 66px;*/
	/*font-family: "octicons";
	border: none;
	padding: 0;
	font-size: 20px;
	font-style: normal;
	margin: 0;
	color: #797C80;
	background: transparent;*/
	border-left: none;
}
#add:before { content: "\2665"; }
#prev:before { content: "\f0bc"; color: #404143; }
#play:before { content: "\f0bf"; }
#play.pause:before { content: "\f0bb"; }
#next:before { content: "\f0bd"; color: #404143; }
#vol:before { content: "\f0ba"; }
#vol.mute:before { content: "\f080"; }

#canvas {
	background: url(blackprint.png);
	background-repeat: repeat;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	right: 0;
	z-index: 100;
}

#offcanvas {
	position: absolute;
	top: 42px;
	left: -170px;
	width: 170px;
	height: 208px;
	background: #015276;
	z-index: 111;
}
#offcanvas ul {
	list-style: none;
	/*margin: 2.5em 4px 1em 4px;*/
	margin: 0;
	padding: 0;
}
#offcanvas ul li {
	text-align: left;
	padding: 4px 0 4px 30px;
	margin-bottom: 2px;
	font-size: 16px;
	font-family: "Open Sans";
	cursor: default;
	color: #fff;
}
#offcanvas ul li:first-of-type {
	margin-top: 10px;
}
#offcanvas ul li:hover {
	color: #0290cf	;
}

.hide { display: none; }
.added { color: #d30011 !important; }
.menuactive { color: #039ee2 !important; }

a {
	text-decoration: none;
	color: #fff;
}
a:hover {
	text-decoration: underline;
	color: #fff;
}
#about a {
	text-decoration: none;
    border-bottom: 1px dotted #fafafa;
    color: #fff;
}
#about a:hover {
	text-decoration: none;
    border-bottom: 1px solid #fafafa;
    color: #fff;
}

::-moz-selection { color: #fafafa; background: #b90000; }
