/* Allgemeines Zeugs */
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
    font-family: 'Open Sans';
	background-image: url(textured_paper.png);
	background-repeat:repeat;
	background-attachment:fixed;
	color: #0a0a0a;
}

.vbutton {
	padding: 5px 10px;
	border-radius: 2px;
	border-style: none;
	display: inline;
	color: #fafafa;
	font-family: 'Open Sans';
}

.hide    	{ display: none;	}

#start {
	margin-left: 1em;
}

#knopf {
	float: left;    
}

#nowPlaying {
	float: left;
	padding-left: 10px;
	padding-top: 4px;
}

#menu {
	padding-left: 10px;    
}

#info {
	padding-left: 10px;    
}

#logo {
	padding-top: 3px;
}

a {
	text-decoration: none;
	color: #0a0a0a;
}

a:hover {
	text-decoration: underline;
	color: #0a0a0a;
}

#controls {
	background: url(dark_wall.png);
	position: fixed;
    bottom: 0px;
	left: 0px;
	width: 100%;
	padding: 3px;
	color: #fafafa;
}

::-moz-selection {
	background-color: #444; 
	color: #fafafa;
}
