/* Allgemeines Zeugs */
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
    font-family: 'Open Sans';
	background: #292929;
	background-repeat:repeat;
	background-attachment:fixed;
	color: rgb(233, 233, 233);
}

.hide    	{ display: none;	}

#start {
	margin-left: 1em;
}

#knopf {
	float: left;    
}

#nowPlaying {
	float: left;
	padding-left: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
}

#menu {
	padding-left: 10px;
	clear: all;
}

#info {
	padding-left: 10px;    
}

#hoerer {
	display: inline-block;
	padding: 2px 4px;
	font-size: 12px;;
	font-weight: bold;
	line-height: 14px;
	color: rgb(233, 233, 233);
	border-radius: 3px;
	background-color: rgb(58, 135, 173);
	float: right;
	margin-right: 33px;
}

#logo {
	padding-top: 3px;
}

a {
	text-decoration: none;
	color: rgb(233, 233, 233);
}

a:hover {
	text-decoration: underline;
	color: rgb(233, 233, 233);
}

#controls {
	background: #252525;
	position: fixed;
    bottom: 0px;
	left: 0px;
	width: 100%;
	padding: 3px;
	color: rgb(233, 233, 233);
	box-shadow: 0px 2px 5px 4px rgb(233, 233, 233); ;
}

::-moz-selection {
	background-color: #444; 
	color: rgb(233, 233, 233);
}
